@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Ahmed Abdelhak : engineer.ahemdabdelhak@gmail.com <br/>
    LinkedIn : <a href="https://www.linkedin.com/in/eng-ahmed-abdelhak/">https://www.linkedin.com/in/eng-ahmed-abdelhak/</a>  <br />
    Github :  <a href="https://github.com/engineerAhmedMo/">https://github.com/engineerAhmedMo/</a> 
</address>
 